* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}


/*body {
    background-color: #d3d3d3;
}*/


/* Header */

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    position: sticky;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 999;
}

.items li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.links {
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: #000;
}

.links:hover {
    color: #fff;
    padding: 5px;
    background-color: #000;
}

.active {
    opacity: 0.5;
}


/*Hero Section*/

#hero {
    width: 100%;
}

.hero-image {
    background-image: url('../images/hero_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.hero-details {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 0 10px;
    display: table;
}

.hero-contents {
    width: 100%;
    height: 40%;
    display: table-cell;
    vertical-align: middle;
}

.detail {
    width: 475px;
}

.detail h1 {
    color: #000;
    font-size: 4rem;
    margin-bottom: 10px;
    line-height: 1.1;
}

.detail p {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-right: 40px;
    line-height: 1.2;
}

.detail button {
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}


/*Our Services*/

#our-services {
    padding: 150px 0px;
    background-color: #fff;
}

.cards {
    display: flex;
    max-width: 90rem;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 400px;
    margin-bottom: 1.5rem;
    padding: 0 20px;
}

.card-top {
    display: flex;
    margin-bottom: 5px;
}

.fab {
    padding-right: 15px;
}

.card-title {
    padding: 5px 0;
}


/*get-started*/

#get-started {
    padding-top: 110px;
    padding-bottom: 110px;
    background-color: #d3d3d3;
}

.center-content {
    width: 90rem;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
}

.left-content {
    height: 500px;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    padding: 40px 0;
}

.right-content {
    height: 500px;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.right-content img {
    max-width: 100%;
    max-height: 500px;
}

.left-content span {
    padding: 5px;
    background-color: green;
    color: white;
    font-weight: bold;
}

.left-content h2 {
    margin-top: 25px;
    margin-bottom: 30px;
    font-size: 3.5rem;
    line-height: 1;
}

.left-content p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    line-height: 1.5;
}

.left-content button {
    border: none;
    padding: 10px;
    border-radius: 40px;
    background-color: gray;
    color: white;
}


/*Other Services*/

#other-services {
    padding-top: 110px;
    padding-bottom: 110px;
    background: #fff;
    width: 100%;
}

.main-service {
    max-width: 90rem;
    margin: 0 auto;
    text-align: center;
}

.main-service h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.main-service p {
    margin: 0 25rem 3rem;
    font-size: 1.2rem;
    line-height: 1.2;
}

footer {
    height: 65px;
    width: 100%;
    background-color: #d3d3d3;
    text-align: center;
    line-height: 65px;
}

@media (max-width: 480px) {
    /*Hero Section*/
    .hero-image {
        width: 100%;
        height: 400px;
    }
    .hero-details {
        width: 50%;
    }
    .hero-contents {
        width: 100%;
        height: 40%;
    }
    .detail {
        width: 350px;
    }
    .detail h1 {
        font-size: 1.6rem;
        margin-bottom: 5px;
        line-height: 1;
    }
    .detail p {
        font-size: 1rem;
        margin-bottom: 10px;
        line-height: 1.2;
    }
    .detail button {
        padding: 5px;
        border-radius: 20px;
        font-size: 0.8rem
    }
    /*Our Services*/
    #our-services {
        padding: 50px 0px;
        background-color: #fff;
    }
    /*get-started*/
    #get-started {
        padding-top: 50px;
        padding-bottom: 50px;
        width: 100%;
    }
    .center-content {
        margin: 0 auto;
        padding: 0 20px;
        width: 100%;
        flex-direction: column;
    }
    .left-content {
        height: 500px;
        width: 90%;
    }
    .right-content {
        height: 385px;
        width: 90%;
    }
    .left-content h2 {
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 2rem;
        line-height: 1;
    }
    .left-content p {
        margin-bottom: 20px;
        font-size: 1rem;
        line-height: 1.2;
    }
    .left-content button {
        border: none;
        padding: 10px;
        border-radius: 40px;
        background-color: gray;
        color: white;
    }
    .right-content img {
        max-width: 100%;
        max-height: 350px;
    }
    /*Other Services*/
    #other-services {
        padding-top: 50px;
        padding-bottom: 50px;
        background: #fff;
    }
    .main-service {
        max-width: 90rem;
        margin: 0 auto;
        text-align: center;
    }
    .main-service h1 {
        font-size: 2rem;
        margin-bottom: 15px;
    }
    .main-service p {
        margin: 0 15px 30px;
        font-size: 1rem;
        line-height: 1.1;
    }
}